.Register  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #1a1a2e; /* Темный фон, если у тебя тёмная тема */
.title{
    font-size: 26px;
}

}
.LoginArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.input-wrapper {
  position: relative;
  width: 100%;

  input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid white;
  }

  input::placeholder {
    color: #aaa;
    font-size: 18px;
  }
}
.Register-btn{
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: fit-content;
    transition: 0.5s;
    font-size: 24px;

    &:hover{
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.26);
        border:1px solid rgba(0, 0, 0, 0.445);
    }
    &:active{
        background-color: white;
        color: black;
    }
}
.linkToLogin{
    a{
        color: #F3B699;
        &:hover{
         color: #ffd4c0;   
        }
    }
}
.passwordBox{
    position: relative;
    .ShpwPassword{
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0;
    }
}